@page
@using SadafStore.Core.Convertors
@model SadafStore.web.Pages.Admin.Discounts.IndexModel
@{
}


<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div>
                <ol class="linkinhead ">
                    <li><a href="/">خانه</a></li>
                    <li><a href="/Admin">داشبورد مدیریت</a></li>
                    <li class="#">لیست کد‌ها</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-5">
                        <a href="/admin/discounts/creatediscount">
                            <button type="button" class="btn btn-success">افزودن کد جدید</button>
                        </a>
                    </div>

                    <div class="col-md-7">
                        <h2 class="table-title">لیست کدهای تخفیف</h2>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped custom-table m-b-0">
                        <thead>
                        <tr>
                            <th>کد</th>
                            <th>تعداد</th>
                            <th>تاریخ شروع</th>
                            <th>تاریخ پایان</th>
                            <th>دستورات</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var code in Model.DisCounts)
                        {
                            <tr>
                                <td>@code.DisCountCode</td>
                                <td>@code.UsableCount</td>
                                <td>@((code.StartDate!=null)?code.StartDate.Value.ToShamsi():"")</td>
                                <td>@((code.EndDate!=null)?code.EndDate.Value.ToShamsi():"")</td>
                                      
                                <td>
                                    <a href="/Admin/Discounts/EditDiscount/@code.DiscountId" class="btn btn-warning btn-sm">
                                        ویرایش
                                    </a>
                                        
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div>
                    <ul class="pagination">
                        @*@for (int i = 1; i <= Model.UserForUserListViewModel.PageCount; i++)
                            {
                                <li class="paginate_button @((i==Model.UserForUserListViewModel.CurrentPage)?"active":"")" aria-controls="dataTables-example" tabindex="0">
                                    <a href="/Admin/Users?PageId=@i">@i</a>
                                </li>
                            }*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>