@model SadafStore.DataLayer.Entities.Product.Product
@{
    ViewData["Title"] = "مشاهده محصول";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li>مشاهده کالا (@Model.ProductTitle) </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product_page_bg">
    <div class="container">
        <div class="product_details_wrapper mb-55">
            <!--product details start-->
            <div class="product_details">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="product-details-tab">
                            <div id="img-1" class="zoomWrapper single-zoom">
                                <a href="#">
                                    <img id="zoom1" src="/ProductImg/images/@Model.ProductImage" data-zoom-image="" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="product_d_right">
                            <form action="#">

                                <h3><a href="#">@Model.ProductTitle</a></h3>

                                <div class="price_box">
                                    <span class="old_price">@Model.OldPrice.ToString("#,0") تومان</span>
                                    <span class="current_price">@Model.Price.ToString("#,0") تومان</span>
                                </div>
                                <div class="product_desc">
                                    <p>@Model.ShortDescription</p>
                                </div>
                                <div class="product_variant quantity">
                                    <label>
                                        تعداد موجود از کالا:
                                        @if (@Model.ProductNumber > 0)
                                        {
                                            @Model.ProductNumber <span>عدد</span>
                                            <br />
                                            <a class="buyBtn" href="/Product/BuyProduct/@Model.ProductId">افزودن به سبد</a>
                                        }
                                        else
                                        {
                                            <button class="button" type="submit">ناموجود</button>
                                        }
                                    </label>

                                </div>

                            </form>
                            <div class="priduct_social">
                                <ul>
                                    <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i> لایک</a></li>
                                    <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> توییت</a></li>
                                    <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i> ذخیره</a></li>
                                    <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i> اشتراک گذاری</a></li>
                                    <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i> لینکدین</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--product details end-->
            <!--product info start-->
            <div class="product_d_info">
                <div class="row">
                    <div class="col-12">
                        <div class="product_d_inner">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">درباره محصول</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">ویژگی و برچسب محصول</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">نقد و بررسی محصول</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
                                    <div class="product_info_content">
                                        <p>@Model.Description</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sheet" role="tabpanel">
                                    <div class="product_d_table">
                                        <label>ویژگی‌ها:</label>
                                        <p>@Model.Features</p>
                                        @if (Model.Tags != null)
                                        {
                                            <div class="widget_list tag_cloud">
                                                <h3>برچسب‌های محصولات</h3>
                                                @foreach (string tag in Model.Tags.Split('-', StringSplitOptions.RemoveEmptyEntries))
                                                {
                                                    <a href="/Product?filter=@tag"> @tag </a>
                                                }
                                            </div>
                                        }

                                    </div>
                                </div>

                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <div class="reviews_wrapper">
                                        <h2>1 نقد و بررسی برای این محصول</h2>
                                        <div class="reviews_comment_box">
                                            <div class="comment_thmb">
                                                <img src="img/blog/comment2.jpg" alt="">
                                            </div>
                                            <div class="comment_text">
                                                <div class="reviews_meta">
                                                    <div class="product_rating">
                                                        <ul>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <p><strong>مدیر </strong>- 12 آذر 1398</p>
                                                </div>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                            </div>

                                        </div>
                                        <div class="comment_title">
                                            <h2>یک نقد و بررسی بنویسید </h2>
                                            <p>ایمیل شما منتشر نخواهد شد. فیلد های الزامی مشخص شده اند</p>
                                        </div>
                                        <div class="product_rating mb-10">
                                            <h3>امتیاز شما</h3>
                                            <ul>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product_review_form">
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="review_comment">نقد و بررسی شما </label>
                                                        <textarea name="comment" id="review_comment"></textarea>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <label for="author">نام</label>
                                                        <input id="author" type="text">

                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <label for="email">ایمیل </label>
                                                        <input id="email" type="email" dir="ltr">
                                                    </div>
                                                </div>
                                                <button type="submit">ثبت</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product info end-->
        </div>
    </div>
</div>

