@model SadafStore.Core.DTOs.ProductViewModels.ShowProductListViewModel

<div class="col-lg-3 col-md-4 col-sm-6">
    <article class="single_product">
        <figure>
            <div class="product_thumb maxWidth">
                <a class="primary_img" href="/ShowProduct/@Model.Id"><img style="height: 329px; width: 329px;" src="/ProductImg/images/@Model.Img" alt=""></a>
                <a class="secondary_img" href="/ShowProduct/@Model.Id"><img style="height: 400px; width: 400px;" src="/ProductImg/images/@Model.Img" alt=""></a>
                <div class="label_product">
                    <span class="label_sale">فروش</span>
                </div>
            </div>

            <div class="product_content grid_content">
                <div class="product_content_inner">
                    <h4 class="product_name"><a href="/ShowProduct/@Model.Id">@Model.Title</a></h4>
                    <div class="price_box">
                        <span class="current_price">@((Model.Price==0)?"رایگان":Model.Price.ToString("#,0"))  تومان</span>
                    </div>
                </div>
                <div class="add_to_cart">
                    <a href="cart.html" title="" data-original-title="افزودن به سبد">افزودن به سبد</a>
                </div>
            </div>
            <div class="product_content list_content">
                <h4 class="product_name"><a href="/ShowProduct/@Model.Id">@Model.Title</a></h4>
                <div class="price_box">
                    <span class="current_price">@((Model.Price==0)?"رایگان":Model.Price.ToString("#,0"))  تومان</span>
                </div>
                <div class="product_desc">
                    <p>@Model.Description</p>
                </div>
                <div class="add_to_cart">
                    <a href="cart.html" title="" data-original-title="افزودن به سبد">افزودن به سبد</a>
                </div>
            </div>
        </figure>
    </article>
</div>
