@model SadafStore.Core.DTOs.UserPanelViewModel.InformationUserViewModel
@using SadafStore.Core.Convertors

@{
    ViewData["Title"] = "حساب کاربری " + User.Identity.Name;
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>داشبورد</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<div class="account_page_bg">
    <div class="container">
        <section class="main_content_area">
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <partial name="_NavTabs" />
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                            <div class="tab-pane fade active show" id="dashboard">
                                <h3>داشبورد اطلاعات شما </h3>
                                <ul>
                                    <li>  ایمیل : @Model.Email </li>
                                    <li>  نام و نام خانوادگی :  @Model.AvatarName </li>
                                    <li>  شماره تماس : @Model.TelNumber </li>
                                    <li>  آدرس : @Model.UserAddress </li>
                                    <li>  تاریخ عضویت : @Model.RegisterDate.ToShamsi() </li>
                                    <li>  موجودی حساب : @Model.Wallet تومان </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
