@page "{id}"
@using SadafStore.DataLayer.Entities.Permissions
@model SadafStore.Web.Pages.Admin.Roles.EditRoleModel
@{
    ViewData["Title"] = "ویرایش نقش";
    List<Permission> permissions = ViewData["Permissions"] as List<Permission>;
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div>
                <ol class="linkinhead ">
                    <li><a href="/">خانه</a></li>
                    <li><a href="/Admin">پنل مدیریت</a></li>
                    <li><a href="/Admin/Roles">لیست نقش‌ها</a></li>
                    <li class="#">افزودن نقش جدید</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card-box">
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Role.RoleId" />
            <input type="hidden" asp-for="Role.IsDelete" />
            <div class="panel panel-warning" >
                <div class="panel-heading">
                    <h4>ویرایش نقش @Model.Role.RoleName</h4>
                </div>
                <div class="col-md-8" style="padding-top: 10px;">
                    <div class="form-group">
                        <label class="control-label col-md-2">نام نقش :</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" asp-for="Role.RoleName" placeholder="نام نقش را وارد کنید">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">ذخیره تغییرهای نقش</button>
                </div>
                <div class="col-md-4" style="padding-top: 10px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            دسترسی‌ها برای این نقش
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label style="padding: 0px 10px">انتخاب دسترسی</label>
                                <div class="" style="padding: 0px 20px">
                                    @{
                                        List<int> SelectedPermissions = ViewData["SelectedPermissions"] as List<int>;
                                    }
                                    <ul>
                                        @foreach (var permission in permissions.Where(p => p.ParentId == null))
                                        {
                                            <li>
                                                <input type="checkbox" name="SelectedPermission" @((SelectedPermissions.Any(p => p == permission.PermissionId) ? "checked" : "")) value="@permission.PermissionId" /> @permission.PermissionTitle

                                                @if (permissions.Any(p => p.ParentId == permission.ParentId))
                                                {
                                                    <ul>
                                                        @foreach (var sub in permissions.Where(p => p.ParentId == permission.PermissionId))
                                                        {
                                                            <li>
                                                                <input type="checkbox" @((SelectedPermissions.Any(p => p == sub.PermissionId) ? "checked" : "")) name="SelectedPermission" value="@sub.PermissionId" /> @sub.PermissionTitle
                                                                @if (permissions.Any(p => p.ParentId == sub.ParentId))
                                                                {
                                                                    <ul>

                                                                        @foreach (var sub2 in permissions.Where(p => p.ParentId == sub.PermissionId))
                                                                        {
                                                                            <li>
                                                                                <input type="checkbox" @((SelectedPermissions.Any(p => p == sub2.PermissionId) ? "checked" : "")) name="SelectedPermission" value="@sub2.PermissionId" /> @sub2.PermissionTitle
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
